{% extends 'base.html' %}
{% load static %}

{% block base_head %}
  <link rel="stylesheet" href='{% static "css/main.css" %}' >
  <style>
    body {
      background-image: url("{% static 'img/clothing.jpg' %}");
      height: 100%;
      width: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="text-center">
    <h1>{{ title }}</h1>
  </div>

  <div class="row">
    <div class="col">
      <p>{{ content }}</p>
    </div>
  </div>
  {% if request.user.is_authenticated %}
  <div class="row">
    <div class="col">
      <h1>Premium</h1>
      {{ premium_content }}
    </div>
  </div>
  {% endif %}


{% endblock %}